@import './base.css';

.navbar {
  box-shadow: 0px 0px 10px rgba(146, 146, 146, 0.5);
}

main {
  min-height: 100vh;
}

.bg-glass {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url('https://img.freepik.com/free-photo/image-beautiful-elegant-asian-woman-witch-costume-close-eyes-sending-air-kiss-t-camera_1258-114113.jpg?t=st=1730389965~exp=1730393565~hmac=56ed09bcb93265e67404929841cb35fe753ea19d2ce9548985d820cc01944441&w=1380');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-heart {
  border: none;
  background: none;
  padding: 0;
}
.product-card {
  height: 100%;
  background: #dfffd5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card:hover {
  background: #f0ffec;
  transition: 0.2s;
}
a,
a span {
  color: var(--primary);
  text-decoration: none;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer i {
  margin-right: 10px;
}

.custom-dropdown-menu {
  min-width: 20px;
}

.img-gallery {
  height: 70vh;
}

.img-box {
  padding: 4px;
}

.img-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* .img-gallery * {
  border: solid 1px black;
} */

.col-h-50 {
  height: 50%;
}

.col-h-100 {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.text-badge-xxs {
  font-size: 8px;
}

.buy-again {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
}
